@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: #0F0F0F;
    color: #FFFFFF;
    font-family: Poppins;

    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header#header-container{
    position: fixed;
    top: 0%;
    width: 100%;
}
header#header-container nav{
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20%;
}

header#header-container nav li{
    list-style: none;
    display: inline-block;
    margin: 2.5% 3.5%;
    border-bottom: 2px solid rgba(0, 255, 255, 0);
}

header#header-container nav li:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
}

header#header-container nav li a{
    text-decoration: none;
    transition: 1s;
}

section#section-welcome h2{
    font-size: 2.5rem;
}

section#section-welcome h1{
    font-size: 2.5rem;
}

section#section-welcome{
    margin-top: 15%;
    margin-bottom: 4%;
}
section#section-welcome div#button-contact a{
    background: white;
    color: black;
    text-decoration: none;
    padding: 9% 12%;
}
section#section-welcome div#button-contact a:hover{
    cursor: pointer;
    background: #c9c8c8;
}
section#section-welcome div#button-contact{
    background: white;
    color: black;
    display: block;
    width: 12%;
    padding: 1% 0px;
    margin-top: 4.8%;

    border-radius: 50px;
    font-weight: 700;
}

section#section-welcome div#button-contact:hover{
    cursor: pointer;
    background: #c9c8c8;
}

section#section-bio{
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding-top: 15%;
}

section#section-bio div#bio-text h3{
    display: inline-block;
    text-align: left;

    font-size: 1.5rem;
    margin-bottom: 25px;
}

section#section-bio #bio-text{
    text-align: left;
    margin-left: 4%;
}

section#section-bio #bio-text p{
    display: inline-block;
    text-align: left;
}

section#section-bio img{
    display: inline-block;
    width: 20%;
}
section#section-bio li.social-icons{
    color: white;
    display: inline;

    cursor: pointer;
}
section#section-bio li.social-icons img{
    width: 3.5%;
    margin: 100px 20px 0px 0px;
}
section#section-bio li.social-icons img:hover{
    margin: 70px 20px 0px 0px;
}

section#section-cursos{
    margin: 20% 20% 30% 20%;
    padding: 15% 0% 0% 0%;
}

section#section-cursos p img{
    width: 2.5%;
    margin-right: 10px;
}
section#section-cursos h3{
font-size: 2rem;
}

section#section-cursos h3, p{
    margin-bottom: 10px;
    text-align: left;
}


section#section-projects h3{
    padding-top: 10%;
    margin-left: 20%;
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: left;
}

section#section-projects p{
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    font-weight: 700;
}
section#section-projects div.projects{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
section#section-projects div.acess-github-project{
    background: #FFFFFF;
    width: 300px;
    border-radius: 50px;
    padding: 10px 0px;
}

section#section-projects h1{
    margin-bottom: 10px;
}
section#section-projects div.acess-github-project:hover{
    cursor: pointer;
    background: #c9c8c8;
}
section#section-projects div.acess-github-project a{
    background: #FFFFFF;
    color: black;
    text-decoration: none;
    font-weight: 700;
    padding: 9px 0px;
}

section#section-projects div.acess-github-project a:hover{
    background: #c9c8c8;
}

footer h1{
    border-top: 1px solid white;
    padding-top: 50px;
    font-size: 1.7rem;
}
footer li.social-icons{
    color: white;
    display: inline;

    cursor: pointer;

}
footer li.social-icons img{
    width: 2%;
    margin: 40px 20px 70px 0px;
}
footer{
    border-bottom: 1px solid white;
    margin-bottom: 50px;
}
@media(max-width: 700px) {
    header#header-container nav li a{
        text-decoration: none;
        transition: 1s;
        font-size: 0.7rem;
    }
    section#section-welcome h2{
        font-size: 2rem;
    }
    
    section#section-welcome h1{
        font-size: 2rem;
    }

    section#section-welcome div#button-contact{
        background: white;
        color: black;
        display: block;
        width: 12%;
        padding: 1% 0px;
        margin-top: 4.8%;
    
        border-radius: 50px;
        font-weight: 700;
    }
    section#section-welcome div#button-contact a{
        background: white;
        color: black;
        text-decoration: none;
        padding: 11% 12%;
    }
    section#section-projects div.projects{
        display: block;
        justify-content: space-between;
        margin-bottom: 70px;
        margin: auto;
    }
}